// Extra small devices (portrait phones, less than 544px)
@include media-breakpoint-down(xs) {
  // mobile menu with smaller icons
  .flexbox-container.mobile-menu {
    height: 64px;
    display: -webkit-box;
    &.process {
      display: flex;
    }
    i {
      &:before { font-size: 20px; }
      span {
        padding-top: 0;
        margin-top: -8px;
        font-size: 10px;
        font-style: normal;
      }
    }
  }

  .flexbox-container.content--menu {
    height: 65px;
    .btn {
      font-size: 0.9rem;
      padding: 0;
    }
    .icon { font-size: 1rem; }
  }

  // display text
  .display-2,
  .display-3,
  .display-4 {
    font-size: 2rem;
  }
  .lead {
    font-size: 23px !important;
    padding-top: 10px;
  }
  .hero {
    .btn {
      margin-top: 20px !important;
    }
  }
  .logo {
    img { 
      height:50px;
      width:50px;
      margin-top: 20px;
    }
  }
  .scroll {
    bottom: 15% !important;

      i:before {
        animation-duration: 3s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
      }

  }

  #about {
    .gravatar {
      height: 100px;
      width:100px;
    }
  }

  p {
    font-size: 16px !important;
    line-height: 1.4rem !important;
  }
  .section-subtitle {
    padding: 0 20px;
  }

  h4, .h4 { font-size: 1.4rem; }

  .project--fullwidth { padding: 80px 0 !important; }
  .project--image,
  .project--description,
  .project-text {
    text-align: center;
    padding: 0 20px;
  }
  .project-title { font-size: 32px; }
  .project-tags {
    li { font-size: 12px !important; }
  }

  .btn-lg {
    font-size: 0.8rem;
    margin-bottom: 40px;
  }

  .footer-page { padding-top: 40px; }

  .footer-page .btn-lg {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .footer--row {
    padding-bottom: 60px;
    div { padding: 10px 0 !important; }
    .flex-link {
      display: block;

      -webkit-flex: initial;
      -ms-flex: initial;
      flex: initial;
      small {
        display:block;
        font-size: 13px;
        padding: 10px 28px;
        line-height: 1.5;
      }
      .fa-2x { font-size: 1.5em; }
      li { padding: 10px; }
    }
  }

  .portfolio--grid {
    .flex-link {
      flex: initial;
    }
  }

  .content--container,
  .cms-editable {
    padding-top: 24px;
    padding-bottom: 24px;
    .content--icon {
      font-size: 4rem;
      height: 110px;
    }
  }

  .content--info {
    width: 100%;
    .content--step-subtext {
      text-align: center;
      display: block;
    }
    .content--tools {
      font-size: .75rem;
      padding: 0;
      margin: 5px auto 20px;
      display: block;
      max-width: 195px;
    }
  }

  .content--about {
    padding-top: 10px;
  }
}

@media (max-width: 284px) {
  .btn, .btn-lg {
    width: 100%;
    text-align: center;
    font-size: 7vw;
  }
  .project--description {
    .btn-lg {
      font-size: 5vw;
    }
  }
  .display-4 { 
    font-size: 1.5rem; 
  }
  .lead {
    font-size: 18px !important;
  }
}