<!-- SECTION SUBDIVISION -->
<section class="container-fluid">
    <div class="container section-subdivision text-xs-center text-md-left">
        <h4>Branding</h4>
    </div>
</section>

<section class="portfolio--grid">
    <div class="flexbox-container flexbox-links">
        <a href="#" class="flex-link active">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
    </div>
    <div class="flexbox-container flexbox-links">
        <a href="#" class="flex-link active">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
    </div>
</section>

<!-- SECTION SUBDIVISION -->
<section class="container-fluid">
    <div class="container section-subdivision text-xs-center text-md-left">
        <h4>Illustrations</h4>
    </div>
</section>

<section class="portfolio--grid">
    <div class="flexbox-container flexbox-links">
        <a href="#" class="flex-link active">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
    </div>
    <div class="flexbox-container flexbox-links">
        <a href="#" class="flex-link active">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
        <a href="#" class="flex-link">
            <img src="http://placehold.it/550x550" alt="" class="img-fluid">
        </a>
    </div>
</section>
