==
<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/bg-av.jpg' | theme }}');">
    <article class="container">
        <div class="row">
            <header class="col-lg-4 project--description">
                <ul class="project-tags mb-2">
                    <li>Research</li>
                    <li>Branding</li>
                    <li>UX</li>
                    <li>Front-End</li>
                </ul>
                <h3 class="project-title h1 mb-4">AnthemVault</h3>
                <p class="project-text">
                    Anthem Vault, an online service that allows anyone to start owning real gold and silver at affordable prices.
                </p>
                <a href="{{ 'project/anthemvault' }}" class="btn btn-lg btn-light rounded-pill"> View Case Study</a>
            </header>
            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-av.png' | theme }}" alt="" class="img-fluid">
            </aside>
        </div>
    </article>
</section>

<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/bg-hg.jpg' | theme }}');">
    <article class="container">
        <div class="row">
            <header class="col-lg-4 project--description">
                <ul class="project-tags mb-2">
                    <li>Research</li>
                    <li>Branding</li>
                    <li>UX</li>
                    <li>Front-End</li>
                </ul>
                <h3 class="project-title h1 mb-4">HayekGold</h3>
                <p class="project-text">
                    Hayek Gold, an online service that allows anyone to start owning real gold and silver at affordable prices.
                </p>
                <a href="{{ 'project/hayekgold' }}" class="btn btn-lg btn-light rounded-pill"> View Case Study</a>
            </header>
            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-hg.png' | theme }}" alt="" class="img-fluid">
            </aside>
        </div>
    </article>
</section>

<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/bg-inv.jpg' | theme }}');">
    <article class="container">
        <div class="row">
            <header class="col-lg-4 project--description">
                <ul class="project-tags mb-2">
                    <li>Product Design</li>
                    <li>Branding</li>
                    <li>UX</li>
                    <li>Front-End</li>
                </ul>
                <h3 class="project-title h1 mb-4">Invalog</h3>
                <p class="project-text">
                    Invalog was created to enable home lifecycle organization and management. It tracks everything that has to do with home.
                </p>
                <a href="{{ 'project/invalog' }}" class="btn btn-lg btn-light rounded-pill"> View Case Study</a>
            </header>
            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-inv.png' | theme }}" alt="" class="img-fluid">
            </aside>
        </div>
    </article>
</section>

<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/bg-ablv.jpg' | theme }}');">
    <article class="container">
        <div class="row">
            <header class="col-lg-4 project--description">
                <ul class="project-tags mb-2">
                    <li>Branding</li>
                    <li>Web Design</li>
                </ul>
                <h3 class="project-title h1 mb-4">Airbrush Las Vegas</h3>
                <p class="project-text">
                    Airbrush Las Vegas, a beautiful retail store specializing in all airbrush apparel and events located in the heart of Vegas.
                </p>
                <a href="{{ 'project/airbrush-las-vegas' }}" class="btn btn-lg btn-light rounded-pill"> View Case Study</a>
            </header>
            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-ablv.png' | theme }}" alt="" class="img-fluid">
            </aside>
        </div>
    </article>
</section>

<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/tv-bg.jpg' | theme }}');">
    <article class="container">
        <div class="row">
            <header class="col-lg-4 project--description">
                <ul class="project-tags mb-2">
                    <li>UX</li>
                    <li>Design System</li>
                    <li>Front-End Dev</li>
                </ul>
                <h3 class="project-title h1 mb-4">Total Vegas</h3>
                <p class="project-text">
                    Employed at Caesars Entertainment Corporation as the UX Developer.
                </p>
                <a href="{{ 'project/total-vegas' }}" class="btn btn-lg btn-light rounded-pill"> View Case Study</a>
            </header>

            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-tv.png' | theme }}" alt="" class="img-fluid">
            </aside>
        </div>
    </article>
</section>