==
<footer class="footer-page container-fluid text-center text-lg-left">
    <div class="container">
        <h5 class="display-1 decoration-text mb-4">Let's Work Together!</h5>
        <p class="lead mb-5">Talk to me about what I can do for your business.</p>
        <a href="https://goo.gl/forms/ipwbE95jv0x5FXbX2" target="_blank" class="btn btn-primary btn-lg rounded-pill brand-gradient hasArrow __right" role="button">Let's Connect</a>
    </div>
    <div class="footer--row">
        <div class="container d-none d-sm-flex justify-content-between align-items-center py-3">
            <small>Made with <i class="fa fa-heart"></i> in Las Vegas</small>
            <div class="social-media">
                <a href="https://github.com/enokmadrid" target="_blank"><i class="fa fa-2x fa-github"></i></a>
                <a href="https://www.instagram.com/enokmadrid" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
                <a href="https://twitter.com/enokmadrid" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
                <a href="https://dribbble.com/enokmadrid" target="_blank"><i class="fa fa-2x fa-dribbble"></i></a>
                <a href="https://www.linkedin.com/in/enokmadrid" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>