<div class="sticky-header fixed-bottom">
    <div class="flexbox-container mobile-menu d-flex d-lg-none">
        <a href="{{ 'homepage'|page }}" class="flex-link {% if this.page.id == 'homepage' %}active{% endif %}">
            <i class="icon icon-toolbox">
                <span>Work</span>
            </i>
        </a>
        <a href="{{ 'about'|page }}" class="flex-link {% if this.page.id == 'about' %}active{% endif %}">
            <i class="icon icon-person">
                <span>About</span>
            </i>
        </a>
        <a href="{{ 'process-discovery'|page }}" class="flex-link {% if this.page.id == 'process-discovery' %}active{% endif %}">
            <i class="icon icon-process">
                <span>Process</span>
            </i>
        </a>

        <a href="https://goo.gl/forms/ipwbE95jv0x5FXbX2" target="_blank" class="flex-link {% if this.page.id == 'contact' %}active{% endif %}">
            <i class="icon icon-email-send-1">
                <span>Contact</span>
            </i>
        </a>
    </div>
</div>
